@model FinalProject.Models.ViewModels.EventsListViewModel

@{
    ViewData["Title"] = "Upcoming Schedule";
}

<h2>Upcoming Schedule</h2>


<table class="table table-striped">
    <form asp-action="Index" method="get" class="row g-2 mb-3">
        <div class="col-auto">
            <input name="searchTerm" value="@Model.SearchTerm" class="form-control" placeholder="Search title or location" />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mt-2">Search</button>
            <a asp-action="Index" class="btn btn-secondary mt-2">Clear</a>
        </div>
    </form>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Location</th>
            <th>Base Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>@e.Title</td>
                <td>@e.EventDate.ToShortDateString()</td>
                <td>@e.Location</td>
                <td>@e.BasePrice.ToString("C")</td>
                <td>
                    <a asp-action="Details"
                       asp-route-id="@e.EventId"
                       asp-route-slug="@e.Slug"
                       class="btn btn-sm btn-outline-secondary">Details
                   </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.TotalPages > 1)
{
    <nav aria-label="Event paging">
        <ul class="pagination">

            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.CurrentPage - 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-searchTerm="@Model.SearchTerm">Prev</a>
            </li>

            @for (int p = 1; p <= Model.TotalPages; p++)
            {
                <li class="page-item @(p == Model.CurrentPage ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@p"
                       asp-route-pageSize="@Model.PageSize"
                       asp-route-searchTerm="@Model.SearchTerm">@p</a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.CurrentPage + 1)"
                   asp-route-pageSize="@Model.PageSize"
                   asp-route-searchTerm="@Model.SearchTerm">Next</a>
            </li>

        </ul>
    </nav>
}



