@model IEnumerable<TripsLog.Models.Trip>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
}

<div>
    <a asp-action="AddStep1" class="btn btn-primary">Add Trip</a>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Destination</th>
            <th>Start</th>
            <th>End</th>
            <th>Accommodation</th>
            <th>Things To Do</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Destination</td>
                <td>@t.StartDate.ToShortDateString()</td>
                <td>@t.EndDate.ToShortDateString()</td>
                <td>@t.Accommodation</td>
                <td>@($"{t.Activity1} {t.Activity2} {t.Activity3}")</td>
            </tr>
        }
    </tbody>
</table>

